@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsO3ikv6SQm_yYbVf3nddkGw.woff) format('woff');
}
body{
  font-family: sans-serif;
}
div{
  /*border: 1px solid black;*/
}
#header > div,
#main_content > div,
#footer > div{
  width: 936px;
  margin: 0px auto;
  padding-right: 80px;
}
#header{
  background: url("../imgs/png/header_bg.png") center top no-repeat;
}
#header > div{
  background: url("../imgs/png/common-menu-separator.png") left center no-repeat;
  position: relative;
  height: 355px;
}

#header .logo{
  float: left;
  margin-top: 42px;
  margin-left: 17px;
}
#header:after{
  content: "";
  display: block;
  clear: both;
}
#header .menus{
  margin-left: 300px;
  padding-top: 20px;
}
#header .menus > div{
  clear: right;
}
#header .menus > div > ul{
  float: right;
  position: relative;
  z-index: 99;
}
#header .main-menu ul{
  border-radius: 5px;
}
#header .menus li{
  display: inline-block;
  height: 100%;
}
#header .main-menu li{
  color: white;
}
.menus ul{
  text-align: right;
  /*height: 36px;*/
}
#header .common-menu li{
  background: url("../imgs/png/common-menu-separator.png") left center no-repeat;
  /*padding: 3px 15px;*/
}
#header .main-menu a{
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Condensed';
}

#header .main-menu li,
#header .common-menu li{
  padding: 0px 15px;
  vertical-align: middle;
  line-height: 36px;
}
#header .common-menu li:first-child{
  /*border-left: none;*/
  background: none;
}
#header .common-menu a{
  text-transform: uppercase;
  text-decoration: none;
  color: #898989;
  font-family: sans-serif;
  font-size: 11px;
}
#header .main-menu li{
  padding-top: 5px;
}
#header .main-menu li > a{
  display: block;
  padding: 5px 5px 10px;
  line-height: 20px;
}
#header .main-menu li:hover > a{
  color: #3460a0;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px; 
}
#header .main-menu li:hover li > a{
  border-radius: 5px; 
}
#header .main-menu > ul{
  background: url("../imgs/png/main-menu-bg.png") left top repeat-x;
}
#header .main-menu li > ul{
  position: absolute;
  display: none;
  background: #1A447E;
  top: 100%;
/*  left: 0px;
  right: 0px;
  text-align: center;*/
}
#header .main-menu li:hover > ul{
  display: block; 
}
#header .main-menu li > ul > li{
  display: block;
  position: relative;
}
#header .main-menu li > ul ul{
  left: 98%;
  top: 0px
}
#curr-page-description,
#curr-page{
  position: absolute;
  bottom: 0px;
}
#curr-page{
  left: 0px;
  width: 151px;
  height: 56px;
  padding: 19px 30px;
  text-align: right;
  background: url("../imgs/png/header_curr_page_bg.png") left center no-repeat;
}
#curr-page > h2{
  color: #baf009;
  text-transform: uppercase;
  padding: 7px;
}
#curr-page > h2 + div{
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
#curr-page-description{
  left: 198px;
  height: 69px;
  right: 80px;
  padding-left: 157px;
  background: #e0edf3 url("../imgs/jpg/curr_page_img.jpg") no-repeat left top;
  
}
/* ----------- */

#main_content > div{
  background: url("../imgs/png/sidebar-bg-gradient.png") 178px top repeat-y;
    position: relative;
}
#main_content > div:after{
  content: "";
  display: block;
  clear: both;
}
#right-panel{
  position: absolute;
  right: 0px;
  width: 80px;
}
#right-panel > div{
  position: fixed;
  top: 360px;
  width: 80px;
  background-color: #7abbf5;
  border-radius: 5px;
}
#sidebar{
  float: left;
  width: 158px;
  margin-right: 10px;
  padding: 25px 13px 25px 25px;
  text-align: right;
}
#sidebar .menu{
  position: relative;
}
#sidebar .menu li{
  padding: 5px;
}
#sidebar .menu li,
#sidebar .menu li a{
  background: url("../imgs/png/bullets.png") no-repeat left -20px;
}
#sidebar .menu li a{
  color: #4a4a4a;
  text-decoration: none;
  background-position: right -80px;
  padding-right: 10px;
}
#sidebar .menu li:hover ,
#sidebar .menu li.active {
  background-position: left 10px;
}
#sidebar .menu li:hover > a,
#sidebar .menu li.active > a{
  color: #3988c8;
  background-position: right -50px;
}
#sidebar .menu li.active > a{
  font-weight: bold;
}
#sidebar .menu li + li{
  border-top: 1px dotted #cecbcb;
}

#content{
  overflow: hidden;
  padding: 10px;
  border: 1px dotted darkgrey;
}
/*#main_content{
  overflow: hidden;
}*/

#main_content:after{
  content: "";
  display: block;
  clear: both;
}


/* Подвал */
#footer {
  background: url("../imgs/png/footer_bg.png") center top repeat-x;
  height: 64px;
}

/* Slider */
#slider{
  position: relative;
  overflow: hidden;
  width: 330px;
  height: 110px;
  border: 2px solid blue;
}
#slides{
  position: absolute;
  width: 770px;
}
.slide{
  width: 100px;
  height: 100px;
  border: 5px solid green;
  display: inline-block;
}
li.cont-sub-menu{
  position: relative;
}
li.cont-sub-menu:after{
  content: "";
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: #898989 transparent transparent;
  border-width: 6px;
  margin-top: -3px;
}
li.cont-sub-menu:hover:after{
  display: none;
}
#right-panel.down >div{
  border: 5px solid red;
}
.box{
  border: 3px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
}
.box-header{
  padding: 5px;
  background-color: lightgreen;
}
label.requare:before{
  content: "*";
  color: red;
}
#sidebar > div.box:first-child{
  display: none;
}